@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-thumb: #b63e96; /* primary */
  --scrollbar-track: #f5f5f5; /* light */
}

.dark {
  --scrollbar-thumb: #58e6d9; /* primaryDark */
  --scrollbar-track: #1b1b1b; /* dark */
}

::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
}
